//- extends ../pug/layout.pug

//- block meta
//-   title Главная
//-   meta(name='description', content='')

//- //- block append head
//- //-   link(rel='stylesheet', href='css/some.css')

//- block header
//-   p Лого

//- block content
//-   h1 Заголовок

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
include ../pug/mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        header.header
          .header__wrap
            logo.logo
              a.logo__link(href='/')
                img(src='img/Logo.svg', alt='')
            nav.nav
              ul.main-nav
                li.main-nav__item
                  a.main-nav__link О компании
                li.main-nav__item
                  a.main-nav__link Реквизиты
                li.main-nav__item
                  a.main-nav__link Стоимость
                li.main-nav__item
                  a.main-nav__link Партнеры
                li.main-nav__item
                  a.main-nav__link Новости
                li.main-nav__item
                  a.main-nav__link Контакты
              ul.project-nav
                li.project-nav__item
                  a.project-nav__link Дизайн-системы
                li.project-nav__item
                  a.project-nav__link Веб-сайты
                li.project-nav__item
                  a.project-nav__link Мобильные приложения
                li.project-nav__item
                  a.project-nav__link Банковские системы
          select.lang-select
            option.lang-select__item Русский
            option.lang-select__item Английский

        main
          section.prog
            h1.page__head Разработка программного обеспечения
            p.page__text экстраординарные решения в области дизайна и разработки уникальных высокотехнологичных продуктов
            p.page__sub-text в том числе — система автоматизации въезда и распознавания номеров
            img.prog__img(src='img/PO.png')
            a.details(href='#') Подробнее

          section.sport-auto
            h2.page__title.page__title--center Система автоматизации спортивных учреждений
            p.page__subhead Систематизицация уровней данных
            p.page__text Создание виртуального администратора позволяет сократить лишние рабочие места, минимизировать коррупцию и, тем самым, увеличить доход Вашего бизнеса.
            a.detail(href='#') подробнее
            img.sport-auto__img(src='img/sport_automat.png')
          section.electric-line
            h2.page__title Электронная система управления очередью
            p.page__text Приступая к работе над проектом для «тутSPA», мы изучили внутренние процессы компании, её ключевые предложения, а также конкурентную нишу.
            p.page__text Благодаря исследованиям, сделали вывод, что основной задачей для бренда является акцент на привлекающей внимание демонстрации своих услуг.
            a.detail(href='#') подробнее
          section.tutSpa
            h2.page__title Разработка сайта салона тутSPA
            p.page__text Приступая к работе над проектом для «тутSPA», мы изучили внутренние процессы компании, её ключевые предложения, а также конкурентную нишу.
            p.page__text Благодаря исследованиям, сделали вывод, что основной задачей для бренда является акцент на привлекающей внимание демонстрации своих услуг.
            img.tutSpa__img(src='img/Slice.png')
            img.tutSpa__img(src='img/Slice3.png')
            a.show-case(href='#') смотреть кейс
          section.mobile-app
            h2.page__title Мобильное приложение для оператора связи
            p.page__text При создании мобильной версии сайта элементы были  адаптированы не только визуально, но и функционально.  В ходе тестирования фокус-группы были выявлены наиболее необходимые функции, убрана чрезмерная детализация информации.  
            p.page__text Также, в связи с отсутствием мобильной версии в биллинговой системе личного кабинета, было принято решение вынести Личный кабинет в отдельное приложение.
            img.mobile-app__img(src='iPhone-XS-isometric-standup-Mockup2.png')
            a.show-case(href='#') смотреть кейс
          section.platform
            h2.page__title Удобная платформа с понятным интерфейсом — наша работа с площадкой для вебинаров!
            p.page__text Мы постарались оценить и доработать все известные системы публикации вебинаров в совершенно новом виде.  
            p.page__text Для Вашего удобства весь наш сервис основывается на модульной системе. Вы видите и используете только те инструменты, которые подходят именно Вам.
            a.show-case(href='#') смотреть кейс

      .page__footer-wrapper
        block footer
          p Подвал

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
